.env
.credentials/secret.json
.credentials/token.pickle
desk_automation.log
app_claude.py
__pycache__/app.cpython-313.pyc
.gitignore
main.py
__pycache__/cal.cpython-313.pyc
__pycache__/logger.cpython-313.pyc
__pycache__/desk_control.cpython-313.pyc
logs/desk_automation_2025-03-14.log
desk-control.py
.DS_Store
run_desk_automation.sh
setup.sh
logs/output.log
logs/error.log
logs/desk_automation_2025-03-25.log
logs/desk_automation_2025-03-24.log
logs/desk_automation_2025-03-23.log
logs/desk_automation_2025-03-22.log
logs/desk_automation_2025-03-21.log
logs/desk_automation_2025-03-20.log
